{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <h1>Ingredients</h1>
    <a href="{% url 'kitchen:ingredient-bulk-create' %}" class="btn btn-primary mb-3">Create Ingredient</a>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for ingredient in ingredient_list %}
        <tr>
          <td>{{ ingredient.name }}</td>
          <td>
            <a href="{% url 'kitchen:ingredient-update' ingredient.pk %}" class="btn btn-sm btn-warning">Edit</a>
            <a href="{% url 'kitchen:ingredient-delete' ingredient.pk %}" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No ingredients available.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
